# Folder config file
[Dd]esktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

*.o
*.a
.idea/
*build*
*main.dSYM*
valgrind-out.txt

#name of executable
exe